*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.media-card{
    height: 25rem;
    width: 22rem;
    border: 1px solid;
}

.media-container{
    height: 80%;
    width: 100%;
}

.action-container{
    height: 20%;
    width: 100%;
    border: 1px solid;
}

.action-container button{
    width: 100%;
    height: 50%;
    font-size: 1.5rem;
    color: white;
}

.media-download{
    background-color: rgb(19, 116, 19);
}

.media-delete{
    background-color: rgb(124, 6, 6);
}

.media-gallery {
    height: 100%;
    width: 100%;
}