*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.video-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

video{
    height: 100%;
    width: 100%;
}

#record,#capture{
    position: fixed;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    z-index: 3;
    border-radius: 50%;
    border: none;
    background-color: black;
    border: 5px solid white;
    cursor: pointer;
}

#record{
    top: 40vh;
}

#capture{
    top: 50vh;
    margin-top: 1.3rem;
}

.inner-record,.inner-capture{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin: auto;
}

.inner-record{
    background-color: red;
}

.inner-capture{
    background-color: white;
}

.capture-animation{
    animation: inOut 0.5s infinite;
}

.record-animation{
    animation: inOut 0.5s infinite;
}

@keyframes inOut{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.filter-container{
    height: 25rem;
    width: 5rem;
    z-index: 3;
    position: fixed;
    left: 2rem;
    top: calc((100vh - 25rem) / 2);
    cursor: pointer;
}

.filters{
    border: 2px solid white;
    width: 100%;
    height: calc(25rem / 6);
    background: url(fil.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
}

.zoom-in-out-container{
    height: 10rem;
    width: 4rem;
    z-index: 3;
    position: fixed;
    right: 2rem;
    top: 5rem;
    cursor: pointer;
}

.zoom-in-out-container div{
    border: 2px solid lightgray;
    width: 100%;
    height: 50%;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    background: #2f3640
}

.filter-div{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.gallery-container{
    height: 4rem;
    width: 4rem;
    z-index: 3;
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    cursor: pointer;
}

.gallery,.material-icons{
    color: white;
    text-align: center;
    font-size: 3.5rem;
}